
#headQ { position: relative; left: 250px;}
#citing {position: relative; left: 646px; bottom: 20px; font-size: 18px; font-family: Raleway;}

#btn {
    position: relative;
    left: 152px;
    bottom: 0px;
    height: 44px;
    width: 150px;
    border-radius: 3px;
    border: none;
    background-color: #EC7063;
    color: white;
    font-family: Raleway;
    font-size: 20px;
}

#D2 {
    border-radius: 4px;
    width: 300px; height: 84px;
    position: relative;
    left: 470px;
}

.media{
    border: 1px solid white;
    background-color: #EC7063;
    border-radius: 3px;
    border: none;
    width: 44px; height: 44px;
    position: relative;
    right: 170px;
    bottom: -5px;
    font-size: 30px;
    color: white;
}

.theQ{ position: relative; left: 310px;}

.Q1{font-size: 90px; position: relative; left: 250px;}

.Q2 { font-size: 90px; position: relative; left: 1010px;}



h2 { font-family: Lobster Two; color: #F0FFFF;}

h3{
    font-size: 45px;
    color: white;
    width: 700px;
    font-family: Nixie One;
}

h4 {font-size: 28px;}
